<?xml version="1.0" encoding="utf-8" ?>

<!--log4j2规定了默认的几个级别：trace<debug<info<warn<error<fatal-->
<!--
PatternLayout:日志格式
%d{HH:mm:ss.SSS} 时：分：秒
%t 线程
%n 换行
-->
<configuration status="error">
    <Properties>
        <Property name="LOG_HOME">${sys:catalina.home}/WebManageApp/logs</Property>
    </Properties>
    <appenders>
        <Console name="console" target="SYSTEM_OUT">
            <!--控制台只输出level及以上级别的信息（onMatch），其他的直接拒绝（onMismatch）-->
            <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"></PatternLayout>
        </Console>
        <!--文件会打印出所有信息，这个log每次运行程序会自动清空，由append属性决定，这个也挺有用的，适合临时测试用-->
        <File name="fileLog" fileName="${LOG_HOME}/appOther.log" append="false">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %class{36} %L %M - %msg%xEx%n"/>
        </File>
        <!--RollingFile表示循环的日志文件，意思是日志文件大于阀值的时候，就开始写一个新的日志文件-->
        <!--这个会打印出所有的信息，每次大小超过size，则这size大小的日志会自动存入按年份-月份建立的文件夹下面并进行压缩，作为存档-->
        <RollingFile name="runLog" fileName="${LOG_HOME}/run/WebManageAppRun.log"
                     filePattern="${LOG_HOME}/run/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd 'at' HH:mm:ss z} [%t] %-5level %class{36} %L %M - %msg%xEx%n"/>
            <SizeBasedTriggeringPolicy size="2MB"/>
        </RollingFile>
        <RollingFile name="initLog" fileName="${LOG_HOME}/init/WebManageAppInit.log"
                     filePattern="${LOG_HOME}/init/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd 'at' HH:mm:ss z} [%t] %-5level %class{36} %L %M - %msg%xEx%n"/>
            <SizeBasedTriggeringPolicy size="2MB"/>
        </RollingFile>
        <RollingFile name="innerDebug" fileName="${LOG_HOME}/system/innerDebug.log"
                     filePattern="${LOG_HOME}/system/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd 'at' HH:mm:ss z} [%t] %-5level %class{36} %L %M - %msg%xEx%n"/>
            <SizeBasedTriggeringPolicy size="2MB"/>
        </RollingFile>
    </appenders>
    <loggers>
        <!--additivity开启的话，由于这个logger也是满足root的，所以会被打印两遍-->
        <logger name="runlog" level="debug" additivity="false">
            <appender-ref ref="runLog"/>
            <!--<appender-ref ref="console"/>-->
        </logger>
        <!--初始化日志-->
        <logger name="initlog" level="debug" additivity="false">
            <AppenderRef ref="initLog"/>
        </logger>
<!--        <root level="trace">-->
<!--            <appender-ref ref="console"/>-->
<!--        </root>-->
        <root level="debug">
            <appender-ref ref="innerDebug"/>
        </root>
    </loggers>
</configuration>
